* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.fw-bold {
    color: rgba(0, 153, 68, 1);
    
}

.text-head {
    color: rgba(0, 153, 68, 1);
    font-weight: bold;
    font-size: 3.5rem;
}

.floatingCTA {
    position: fixed;
    right: 0px;
    bottom: 10%;
    z-index: 990;
    background-color: whitesmoke;
    padding: 15px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    box-shadow: 1px 1px 4px gray;
}

.floatingContent {
    margin-right: -1rem;
}

/*---------------------*/